{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}


{% block main %}

<center>
<div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <h1>
      Add Category
    </h1>
  </div>
</div>


<div id="b1">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.value.label(class_="form-label", for_="username")}}
        {{form.value(id_="username", class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.label.label(class_="form-label", for_="password")}}
        {{form.label(id_="username", class_="form-control")}}
      </div>

      <hr class="mb-4" />
      {{form.submit(class_="form-control bg-dark text-light")}}
      
    </form>

  </div>
</div>
</center>

{% endblock %}