{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}


{% block main %}


<div class="container-fluid my-5">
  <div class="col mx-auto card bg-light p-5">
    <h3>
      Change Password
    </h3>
    <form method="POST">
      {{form.hidden_tag()}}
      <div class="mb-3">
        {{form.current_password.label}}
        {{form.current_password(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{form.new_password.label}}
        {{form.new_password(class_="form-control")}}
      </div>
      <div class="form-control-group mb-3">
        {{form.confirm_password.label}}
        {{form.confirm_password(class_="form-control")}}
      </div>

      <div class="my-3">
        {{form.change_password(class_="btn btn-dark")}}
      </div>

    </form>
  </div>
</div>


{% endblock %}