{% extends 'base.html' %}

{% block title %}Disable List{% endblock %}


{% block main %}

<center>
    <br>
    <div id="b1">
        <div class="col-lg-10 col-md-6 col-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{users | count}} Users</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Unlock</th>


            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{{url_for('user.unlock_user', user_id = user.id)}}"><i style="color: grey;" class="fas fa-unlock ml-3" title="Unlock"></i></a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br><br>
    {% if users %}

    <a href="{{url_for('user.display_users')}}"><button type="button" class="btn btn-secondary">Users List</button></a>

   </div></div>
   {% else %}
   <P>No Blocked Users, back to<a href="{{url_for('user.display_users')}}"> Users List</a> </P>
  
   {% endif %}
</center>
{% endblock %}