{% extends 'base.html' %}

{% block title %}Favourites List{% endblock %}


{% block main %}

<div class="container">
  <div class="row align-items-start">
{% for item in items %}
<div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../static/images/items.jpg" alt="Card image cap">
                <div class="card-body">
                  <i style="color: grey;" class="fas fa-star" title="Favorite"></i>
                    <h4 class="card-title">{{item.title}}</h4>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <p class="card-text"><h6>{{item.description}}</h6>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h5>{{item.price}} JDs</h5>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h5>"{{item.category}}"</h5>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h6>{{item.date}}</h6>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h7>Added by {{item.user.username}}</h7>
                    </p>

          <a href="{{url_for('item.buy_item', item_id = item.id)}}" class="btn btn-secondary text-white">Buy</a>
        </div>
      </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}