{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block main %}

    <div class="card" style="width: 18rem;">
        <img src="../../static/images/person.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hello {{user.username}}!</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>username:</b> {{user.username}}</li>
            <li class="list-group-item"><b>email:</b> {{user.email}}</li>
            <li class="list-group-item"><b>birthday:</b> {{user.birthday}}</li>
        </ul>

    </div>

{% endblock %}