{% extends 'base.html' %}

{% block title %}Review Buy Requests{% endblock %}


{% block main %}


{% for item_requests in my_buy_requests  %}
{% for request in item_requests %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../static/images/items.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5>{{request.user.username}}</h5>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h4 class="card-title">{{request.item.title}}</h4>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <p class="card-text"><h6>{{request.item.description}}</h6>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h5>{{request.item.price}} JDs</h5>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h5>"{{request.item.category}}"</h5>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h6>{{request.item.date}}</h6>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    <h5>{{request.status}}</h5>
                    <hr style="height:1px; border-width:0; color:gray; background-color:gray">
                    </p>
          <a href="{{url_for('user.approve_buy_request' , item_id = request.item.id , request_id = request.id)}}" class="btn btn-primary text-white">Approve</a>
          <a href="{{url_for('user.decline_buy_request' , item_id = request.item.id , request_id = request.id)}}" class="btn btn-danger text-white">Decline</a>
          
        </div>
      </div>
   
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
{% endfor %}
{% endfor %}


{% endblock %}