{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block main %}

<center>
<div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <h1>
        SignUp
    </h1>
  </div>
</div>


<div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.username.label(class_="form-label")}}
        {{form.username(class_="form-control")}}
      </div>

      <div class="row my-3">
        {{form.password.label(class_="form-label")}}
        {{form.password(id_="username", class_="form-control")}}
      </div>

      <div class="row my-3">
        {{form.birthday.label(class_="form-label")}}
        {{form.birthday(class_="form-control")}}
      </div>

      <div class="row my-3">
        {{form.email.label(class_="form-label")}}
        {{form.email(class_="form-control")}}
      </div>

      <hr class="mb-4" />
      {{form.submit(class_="form-control bg-dark text-light")}}
    </form>

  </div>
</div>
</center>

{% endblock %}